.notification {
    &__wrap {
        display: grid;
        grid-template-columns: 40px auto;
        gap: 24px;
        align-items: center;
        border-radius: 4px;
        background: rgba(234, 187, 22, 0.2);
        padding: 16px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.8);
        line-height: 125%;
    }
}