@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("../fonts/CalibriBold.woff") format("woff"), url("../fonts/CalibriBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
