.diagnosis-probability {
    width: 100%;

    &__wrap {
        position: relative;
        border-radius: 4px;
        border: 1px solid #009cde;
        background: #e6f7ff;
        padding: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__text {
        color: #343a40;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  margin: 0;
    }

    &__percent {
        position: relative;
        width: 78px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        color: #009cde;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        text-transform: uppercase;
        margin-left: auto;
    }
}