.select {
  position: relative;
  height: 40px;
}

.select__selected {
  min-width: 160px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #343a40;
  height: 40px;
  padding: 0 45px 0 12px;
  background: #fff;
  border: 1px solid var(--primary-main);
  border-radius: 20px 20px 0 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.select__selected span {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__selected::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  background-image: url(../img/select-arrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.select--closed .select__selected {
  border: 1px solid #d9d9d9;
  border-radius: 40px;
  color: #8c8c8c;
}

.select--closed .select__selected::before {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.select__select {
  position: absolute;
  width: 100%;
  min-width: 160px;
  left: 0;
  top: 40px;
  background: #fff;
  border: 1px solid #009cde;
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding: 7px 4px 10px 0;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 25;
}

.select--closed .select__select {
  opacity: 0;
  pointer-events: none;
}

.select__wrap {
  position: relative;
  width: 100%;
  max-height: 210px;
  overflow-y: scroll;
}

.select__wrap::-webkit-scrollbar {
  width: 4px;
  background-color: transparent !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select__wrap::-webkit-scrollbar-thumb {
  width: 0.4rem;
  background: rgba(0, 156, 222, 0.2) !important;
  border-radius: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select__option {
  width: 100%;
  position: relative;
  white-space: nowrap;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8c8c8c;
  display: inline-block;
  padding: 6px 12px;
}

.select__option:hover,
.select__option:hover * {
  color: var(--primary-main);
}

.select__option span {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__option--active {
  color: #000;
}

.select__option--checkbox {
  line-height: 20px;
  padding-left: 36px;
  cursor: pointer;
}

.select__option--checkbox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  left: 8px;
  top: 6px;
}

.select__option--checkbox::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 8px;
  top: 6px;
  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.select__option--checkbox.select__option--active::before,
.select__option--checkbox:hover::before {
  border-color: var(--primary-main);
}

.select__option--checkbox.select__option--active::after {
  opacity: 1;
}

.select__option--checkbox input {
  display: none;
}

.select__tooltip {
  position: absolute;
  top: 0;
}
