

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quiz {
  &__card {
    position: relative;
    border-radius: 16px;
    background: #fff;
    padding: 40px;
    min-height: 728px;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__head-label {
    color: #009cde;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    width: calc(100% - 50px);
  }

  &__percent {
    color: #009cde;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    width: 50px;
    text-align: right;
  }

  &__progress {
    width: 100%;
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 12px;
    background: #d9d9d9;

    span {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: #009cde;
      transition: all 0.4s;
    }
  }
}

.quiz-block {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 -40px;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 28px;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__column {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }

    &:nth-of-type(even) {
      border-left: 1px solid #d9d9d9;
    }
  }

  &__back {
    position: relative;
    color: #009cde;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin-bottom: 12px;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M5.72551 7.40006L9.07801 4.18175L8.19426 3.33337L3.33301 8.00004L8.19426 12.6667L9.07801 11.8183L5.72551 8.60002H13.333V7.40006H5.72551Z" fill="%23009CDE"/></svg>');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    color: #343a40;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 20px;
  }

  &__text {
    color: #343a40;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 40px;

    span {
      color: #009cde;
      font-weight: 700;
    }

    @media screen and (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__foot {
    margin-top: auto;
    display: flex;

    &--end {
      justify-content: flex-end;
    }

    &--center {
      justify-content: center;
    }
  }

  &__btns {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;

    .radio-label__wrap, .radio-label__label {
      height: 100%;
    }

    &--two {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__clear {
    position: relative;
    color: #009cde;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
  }

  &__list {
    font-size: 20px;
    margin: 0;
    margin-bottom: 12px;
    padding-left: 20px;
    display: grid;
    
    &--cols {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__mini-title {
    font-size: 17px;
    margin-bottom: 12px;
  }

  &__btn {
    position: relative;
    line-height: 1;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width:100%;
    gap: 16px;
    text-decoration: none;

    &--full {
      max-width: 100%;
      text-transform: uppercase;
      font-weight: 700;
    }

    &--light {
      background: transparent;
    color: var(--main-color)
    }
  }

  &__checkbox-list {
    display: grid;
    gap: 12px;
  }

  &__grid-list {
    display: grid;
    gap: 32px;
  }

  &__warning {
      font-size: 20px;
      line-height: 25px;
      padding-left: 28px;
      color: #d50032;
      position: relative;
      margin-top: 20px;

      &::before  {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='system icon'%3E%3Cpath id='Vector' d='M10.0026 18.8346C14.6051 18.8346 18.3359 15.1038 18.3359 10.5013C18.3359 5.8988 14.6051 2.16797 10.0026 2.16797C5.4001 2.16797 1.66927 5.8988 1.66927 10.5013C1.66927 15.1038 5.4001 18.8346 10.0026 18.8346ZM10.8359 9.66797V14.668H9.16927V9.66797H10.8359ZM10.8359 6.33464V8.0013H9.16927V6.33464H10.8359Z' fill='%23D50032'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }
}
