.controle-test {
  display: none;
  width: 100%;
  padding: 40px 0;
  background-color: var(--background-blue);

  &__section {
    width: 100%;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__card {
    width: 100%;
    background-color: var(--background-white);
    border-radius: var(--border-md);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    @include mobile {
      padding: 20px;
    }
  }

  &__sources {
    display: flex;
    background-color: var(--background-white);

    @include mobile {
      width: 100%;
    }
  }

  &__link {
    position: relative;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 22px 0px rgba(178, 212, 240, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    text-transform: uppercase;
    color: var(--primary-main);

    font-size: 20px;
    font-weight: 700;
    line-height: 25px; /* 125% */

    svg {
      width: 16px;
      height: 16px;
    }

    @include mobile {
      width: 100%;
      padding: 16px;
      font-size: 16px;
      line-height: 20px; /* 125% */
    }
  }
}

@import "./control/header";

@import "./control/footer";

@import "./control/contentBlock";

@import "./control/buttonsBlock";

@import "./control/diagnosisBlock";

@import "./control/recommendationsBlock";

@import "./control/warning";

@import "./control/calculator";

@import "./control/select";
