.dosage-list {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 12px;
        margin-bottom: 12px;
    }

    &__item {
        font-size: 20px;
        padding-left: 20px;
        position: relative;

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 14px;
            border-radius: 50%;
            background-color: #343A40;
        }
            
        span {
            color: #8C8C8C;
            font-size: 14px;
            display: block;
        }
    }
}